@import url(https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 320px;

}

body {
    font-family: Inter Tight;
    color: #6B7280;
    line-height: 1;
}
a {
    text-decoration: none;
    color: #6B7280;
}
ul li {
    list-style: none;
}
/*----------------------------------------------*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------*/

[class*="__container"] {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;
}


/*----------------------------------------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

}

.header__container {
    
    display: flex;
    align-items: center;
    min-height: 152px;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    column-gap: 56px;
    row-gap: 10px;
    margin-left: 400px;
}



.menu__item:hover {
    text-decoration: underline;
    
}

.header__button {
    display: flex;
    margin-left: 80px;
    background-color: #fff;
    border: 1px solid #3730A3;
    color: #3730A3;
    border-radius: 6px;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.75em;
    
}

.header__button:hover {
    background-color: #3730A3;
    color: #fff;
    transition: all 2 ease 0s;
}

.header__logo{
   justify-items: start;
}

@media (max-width: 991.98px) { 
    .header__button{
        margin-left: 30px;
        padding: 8px 23px;
    }
    .menu__list {
        display: flex;
        column-gap: 56px;
        row-gap: 10px;
        margin-left: 280px;
    }

}

@media (max-width: 767.98px) { 
    .menu__list {
        display: flex;
        column-gap: 56px;
        row-gap: 10px;
        margin-left: 5px;
    }

}


@media (max-width: 479.98px){
    .menu__list {
        column-gap: 35px;
        margin-left: 15px;
    }
    .header__button{
        margin-left: 30px;
        padding: 6px 15px;
        line-height: 1.15em;
        display: none;
        
    }
    
}

/*----------------------------------------------*/


.page {
    flex: 1 1 auto;
}

.page__main {

}

.page__about-work {
}

.page__trusted {
}

.page__feedback {
}

/*----------------------------------------------*/

.title {
    color: #1F2937;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

/*----------------------------------------------*/

.main__container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main__content {
    flex: 0 1 55%;
    align-self: flex-end;
    padding-top: 220px;
    padding-bottom: 60px;
    padding-right: 20px;
    max-height: 525px;
    margin-bottom: 420px;
}

.name__title{
    margin-bottom: 40px;
    color: #4338CA;
    text-align: start;
    display: inline-block;
}

.main__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #1F2937;
    line-height: 1.2;
   
}

.main__sub-title{
    margin-top: 40px;
    max-width: 460px;
}

.button {
    display: inline-block;
    border-radius: 6px;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.75em;
    margin-top: 40px;
}

.hire__button {
    background-color: #fff;
    border: 1px solid #3730A3;
    color: #3730A3;
}

.read__button {
    background-color: #3730A3;
    border: 1px solid #3730A3;
    color: #fff;
    margin-left: 20px;
}

.hire__button:hover {
    background-color: #3730A3;
    border: 1px solid #3730A3;
    color: #fff;
}

.read__button:hover {
    background-color: #fff;
    border: 1px solid #3730A3;
    color: #3730A3;
}

.main__small-text {
    margin-top: 40px;
}

.main__line {
    width: 100%;
    margin-top: 20px;
    background: #6B7280;
    border: 1px solid #E5E7EB;
}

.content__image {
    align-self: center;
    
    
}

.main__image {
    width: 100%;
    display: grid;
}

@media (max-width: 400px) and (min-width: 340px) {
    .main__image {
        margin-top: 30px;
    }
}

@media (max-width: 340px) {
    .main__image {
        margin-top: 90px;
    }
}


@media (max-width: 991.98px) {
    .main__title {
        font-size: 54px;
    }
}

@media (max-width: 640.98px){
    .main__title {
        font-weight: 600;
        font-size: 42px;
        line-height: 62px;
        color: #1F2937;
        line-height: 1.2;
    }
    .main__sub-title{
        font-size: 14px;
        line-height: 14px;
    }
    .name__title{
        margin-bottom: 40px;

        color: #4338CA;
        
    }
 
    
}

@media (max-width: 479.98px){
    .main__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        color: #1F2937;
        line-height: 1.2;
    }
    .main__container {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        margin-right: 0px;
    
    }
    .main__line {
        align-items: center;
    }
    .main__content {
        padding-right: 0px;
        margin-bottom: 120px;
        margin-top: -50px;
    }
    .name__title{
        margin-bottom: 40px;
        color: #4338CA;
        text-align: center;
        
    }
    
}

@media (max-width: 767.98px){
    .button {
        padding: 7px 21px;
        font-size: 13px;
    }
    .read__button {
        margin-left: 5px;
    }
    

    
}




/*----------------------------------------------*/


.about-work {
}
.about-work__container{
}

.about-work-content__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 150px;
    gap: 68px;
}
.about-work__title {
    text-align: center;
    margin: 50px 70px 0px 70px;
}
.about-work__title span{
    color: #3730A3;

}
.about-work__content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: -100px;
}

.about-work-img__content {
}

.about-work-img {
    width: 100%;
}

.chapter-about {
    display: grid;
    max-width: 311px;
    padding-right: 1em;
    margin-bottom: 20px;
}

.work__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #1F2937;

}

.about__text {
    max-width: 311px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.work-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #3730A3;
    max-width: 75px;
    max-height: 15px;
}

.see-more-arrow {
    max-width: 14px;
    vertical-align: middle;
}


@media (max-width: 991.98px) {
    .about-work-content__container {
        padding-top: 120px;
    }
    .work__title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #1F2937;
        padding-bottom: 8px;
    }
    .about__text {
        max-width: 311px;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        padding-bottom: 8px;
    }
    .work-link {
        font-size: 10px;
    }
    .about-work__title {
        font-size: 40px;

    }
}


@media (max-width: 767.98px) {
    .about-work-content__container {
        gap: 28px;
    }
    .about-work-content__container {
        padding-top: 50px;
    }
    .about-work__title {
        font-size: 34px;
        margin: 0px 0px 0px 0px;
    }
}

@media (max-width: 640.98px) {
    .about-work-content__container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 68px;
    }
    .about-work__content {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .about-work-img__content {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .about-work__title {
        font-size: 26px;
        line-height: 38px;
    }
}

@media (max-width: 479.98px) {
    .about-work__title {
        font-size: 19px;
        line-height: 30px;
        margin: 50px 0px 0px 0px;
    }
}

@media (max-width: 400.98px) {
    .about-work__title {
        font-size: 17px;
        line-height: 25px;
        margin: 50px 0px 0px 0px;
    }
}


/*----------------------------------------------*/


.trusted {
    background: #FEF2F2;
    width: 100%;
    margin-top: 150px;
}

.trusted__container {
    padding: 100px 0px 100px 0px;
}

.trusted__title {
    color: #9CA3AF;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.trusted-images__content {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 97px;
    margin-top: 20px;
}



.trusted-images__content{
    
}

.trusted-image {
    width: 100%;
}


@media (max-width: 767.98px) {
    .trusted-images__content {
        grid-template-columns: repeat(3,1fr);
        gap: 80px;
    }

}

@media (max-width: 479.98px) {
    .trusted-images__content {
        grid-template-columns: repeat(3,1fr);
        gap: 80px;
    }
    .trusted__title {
        font-size: 17px;
    }
}


@media (max-width: 400px) {
    .trusted-images__content {
        grid-template-columns: repeat(2,1fr);
        gap: 45px;
    }
    .trusted__title {
        font-size: 17px;
    }
}




/*----------------------------------------------*/


.feedback {
}



.feedback__title__container {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #1F2937;
    padding: 100px;
}
.feedback-images__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.images__container {
    margin-bottom: 150px;
}


.feedback-image-items {
    display: grid;


}

.feedback-image-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.feedback-image-item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}
.feedback-image-item-1 {
    grid-column: span 1;
    grid-row: span 1;
}
.feedback-image-item-2 {
    grid-column: span 1;
    grid-row: span 1;
}
.feedback-image-item-3 {
    grid-column: span 3;
    grid-row: span 2;
   
}
.feedback-image-item-4 {
    grid-column: span 2;
    grid-row: span 2;

}

.feedback-image-item-4::after{
    content: "";
    background: #fff;
    transform: translate(0, 50%);
    bottom: 0;
    width: 80px;
    height: 80px;
    position: absolute;
}






@media (max-width: 991.98px) {
    .feedback__title__container {
        font-size: 54px;
    }
    .feedback-images__container {
        grid-gap: 20px;
    }
    .feedback__title__container {
        padding: 100px 30px;
    }
}

@media (max-width: 767.98px) {
    .feedback__title__container {
        font-size: 30px;
        padding: 50px 45px 50px 45px;
    }
    .feedback-images__container {
        grid-gap: 10px;
    }
}

@media (max-width: 640.98px) {
    .feedback__title__container {
        font-size: 26px;
        line-height: 38px;
    }
    .feedback__title__container {
        padding: 60px 55px;
    }
}

@media (max-width: 479.98px) {
    .feedback__title__container {
        font-size: 19px;
        line-height: 30px;
    }
    .feedback__title__container {
        padding: 40px 50px;
    }
}

@media (max-width: 400.98px) {
    .feedback__title__container {
        font-size: 17px;
        line-height: 22px;
        padding: 100px;
    }
    .feedback-images__container {
        grid-gap: 5px;
    }
    .feedback__title__container {
        padding: 30px 30px;
    }
}

/*----------------------------------------------*/

